html {
    box-sizing: border-box;
}

.mostrar-senha{
    appearance: none;
    position: absolute;
}

.label-mostrar-senha {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/hidden.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    cursor: pointer;
}

.mostrar-senha:checked + .label-mostrar-senha {
    background-image: url(../img/show.png);
}

.protecao {
    background-color: green;
}

.gap {
    gap: 10px;
}

.w100 {
    width: 100%;
}

.z10 {
    z-index: 10;
}

.z9 {
    z-index: 9;
}

.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.472);
    display: flex;
    justify-content: center;
    align-items: top;
    top: 0;
    left: 0;
    transition: background-color 0.4s;
}

.modal-excluir {
    background-color: #fff;
    padding: 1rem;
    width: 40%;
    margin: 10px;
    border-radius: 1rem;
    height: min-content;
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    border-bottom: #00000055 1px solid;
}

.body {
    padding-top: 1rem;
    border-bottom: #00000055 1px solid;
}

.footer {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.invalido:focus {
    box-shadow: 0 0 0.50rem 0.15rem red;
}

.valido:focus {
    box-shadow: 0 0 0.50rem 0.15rem green;
}

.h-400 {
    height: 400px;
}